---
import { getCollection } from "astro:content";
import SubscribeForm from "../../components/SubscribeForm.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const issueEntries = await getCollection("issues");
  return issueEntries.map((issue) => ({
    params: { slug: issue.slug },
    props: { issue },
  }));
}

const { issue } = Astro.props;
const { Content } = await issue.render();
const title = `Сова рассылает выпуск #${issue.data.number}`;
---

<Layout
  title={title}
  description={issue.data.introduction}
  slug={issue.slug}
  publishedDate={issue.data.date}
  image={issue.data.image}
>
  <main class="container mx-auto mt-6 px-6 max-w-[65ch]">
    <a href="/" class="hover:underline">↵ Вернуться</a>
    <h1 class="text-5xl mb-10 mt-3">{title}</h1>
    <div class="prose">
      <Content />
    </div>
    <a href="/" class="inline-block hover:underline mt-12">↵ Вернуться</a>
    <SubscribeForm title="Получайте больше на почту…" />
  </main>
</Layout>
